/* 공통 스타일 */

a {
  text-decoration: none;
}
ul {
  list-style: none;
  display: inline-block;
}

/* 중앙 메뉴 */
.mainMenu {
  background-color: #0E1015;
}
section {
  position: relative;
}
h2 {
  color: #fff;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.navBars ul {
  display: flex;
  position: absolute;
  top: 40vh;
  width: 200px;
  left: 100%;
  transform: translateX(-100%);
  box-sizing: border-box;
}
.navBars li a{
  color: #fff;
  margin: 10px;
}




/* 왼쪽 메뉴 */
.sub-menu {
  background-color: #40444f;
}
.subNav {
  background-color: #212529;
  left: -40px;
  position: relative;
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  border: solid 1px black;
}
.subNav .title {
  color: #fff;
  position: relative;
  padding-left: 10px;
  padding-top: 15px;
}
.subNav:hover + .subMenu {
  display: block;
  transition: 1s;
}
.subMenu:hover {
  display: block;
  transition: display .5s;
}
.subMenu {
  background-color: #cfcfcf;
  display: none;
  position: relative;
  left: -40px;
}
.subMenu .subtitle{
  padding: 10px;
}
.subMenu .subtitle a {
  color: #000;
}
.subMenu .subtitle a:hover {
  color: #000;
  font-weight: 700;
}

.title.week {
  background-color: orange;
  position: relative;
  left: -40px;
  top: 100px;
}


/* 로그인 화면 */

.login_wrap {
  width: 300px;
  height: 700px;
  position: relative;
  margin: 0 auto;
  top: 70px;
  border: solid 1px black;
}
.login_wrap .title {
  text-align: center;
}
.form_box {
  position: relative;
  /* margin-top: 100px; */
}
.form_box .input_box span {
  font-weight: 700;
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}
.form_box .input_box input {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  height: 50px;
}